<!DOCTYPE html>
<html>
    <head>
        <title>KODA || Dog shop</title>
        <link rel='stylesheet' href='/stylesheets/forms.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
        <body>
        <div class="container">
            <h2 class="naslov">Podaci o trgovcu</h2>
            <form method="post" action="/admin/deleteTrgovac/<%=podaci.id%>">
            <div class="kupac-info">
                <div class="input">
                    <span class="details">Ime uzgajivacnice</span>
                    <input type="text" placeholder="<%= podaci.ime_uzgajivacnice%>" name="imeUzg" disabled>
                </div>
                <div class="input">
                    <span class="details">Ime</span>
                    <input type="text" value="<%= podaci.ime%>" name="ime" disabled>
                </div>
                <div class="input">
                    <span class="details">Prezime</span>
                    <input type="text" placeholder="<%= podaci.prezime%>" name="prezime" disabled>
                </div>
                <div class="input">
                    <span class="details">Grad</span>
                    <input type="text" value="<%= podaci.grad%>" name="grad" disabled>
                </div>
                <div class="input">
                    <span class="details">Drzava</span>
                    <input type="text" value="<%= podaci.drzava%>" name="drzava" disabled>
                </div>
                <div class="input">
                    <span class="details">Adresa stanovanja</span>
                    <input type="text" value="<%= podaci.adresa_stanovanja%>" name="adresa" disabled>
                </div>
                <div class="input">
                    <span class="details">Broj telefona</span>
                    <input type="text" value="<%= podaci.broj_telefona%>" name="brTel" disabled>
                </div>
                <div class="input">
                    <span class="details">Email</span>
                    <input type="email" value="<%= podaci.email%>" name="email" disabled>
                </div>
                <div class="input" style="width: 100%; height: 150px">
                    <span class="details">Opis</span>
                    <textarea class="opis" rows="5" cols="35" type="text" name="opis" style="height: 150px;" disabled><%= podaci.opis%></textarea>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Obrisi">
            </div>
            </form>
                <form method="post" action="/admin/blockTrgovac/<%=podaci.id%>">
                    <div class="button">
                        <input type="submit" value="Blokiraj">
                    </div>
                </form>
                <div class="button">
                    <a href="/admin">Nazad</a>
                </div>


        </div>
    </body>
</html>
